
@import './variables.css';

#header{
    font-size: 20px;
}

p{
    font-size: x-small;
}

#results{
    color:var(--fontcolor);
    font-size: calc(1vw + 2vh);
    margin-top: -10vh;
    left: 50%;
    transform: translateX(10%);
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 90%;
}